---
layout: home
title: AI4VIS
subtitle: Empower data visualization with advanced AI techniques
---
<div class="spacefill"></div>
<div class="banner-container">
    <div>
        <!-- <h1>AI<span><i>for</i></span>VIS</h1> -->
        <h1>AI4VIS</h1>
        <h3><span>Visualization as Meta Data</span> <span>|</span> <span>Empower Data Visualization with AI</span></h3>
    </div>
</div>
<div class="wrapper">
    <div class="flex-double-row">
    <div id="introduction">
        <h2 class="major-title"><span>About Us</span></h2>
        <p>
            Following the recent development of artificial intelligence (AI) technology, there have been growing research interests and opportunities in applying AI to enhance data visualizations and enrich the way people engage with data.
        </p>
        <p> We, the AI4VIS research team in HKUST VisLab, are exploring AI-powered techniques for modelling, authoring, analysing, and interacting with data visualizations. In vision of formalizing visualizations as an emerging data format, we apply advanced AI techniques to visualizations. We have diverse research interests such as visualization recommendation, information extraction from visualizations and automated layouting.</p>
    </div>
        <div class="banner-wrapper">
            
        </div>
    </div>
    
</div>
<div id="news" class="wrapper">
    <h2 class="major-title"><span>News</span></h2>
    <div>
        {% for news in site.data.news limit:8 %}
        {% include news.html news=news %}
        {% endfor %}
    </div>

</div>

<div id="publication" class="wrapper">
    <h2 class="major-title"><span>Publications</span></h2>



{% assign pubyears = site.data.publication | group_by:"year" %}
    {% for year in pubyears %}
        {%-assign yeartitle = year.name | floor-%}
            <h3 class="year" href="#y{{ year.name }}"><span> {{ yeartitle }} </span> </h3>
        {% for pub in year.items %}
        {% include publication.html pub=pub %}
        {% endfor %}
    {% endfor %}
</div>

    <div id="team" class="wrapper">
        <h2>Current Members</h2>
      {% include profile.html term="team" class="profile-image" %}
      <h2>Alumni</h2>
      {% include profile.html term="alumni" class="profile-image" %}
    </div>

 
    <div class="collaborators wrapper">
        <h2 class="major-title"> <span>Collaborators</span></h2>
        <div class="profile-container">
        {% for people in site.data.team %}
        {% if people.role == "collaborator" %}
            <div class="profile-card">
            <!-- <a target="_blank" href="{{ people.url }}"> -->
            <div class="profile-collaborator"><img src="{{ people.image }}"/></div>
            <!-- <div>{{ people.name }}</div> -->
            <!-- </a> -->
        </div>
        {% endif %}
        {% endfor %}
    </div>

</div>


