---
---

@charset "utf-8";
$dark-gray: #404040;
$slight-dark-gray: #6e6e6e;
$extreme-light-gray: #ECEDF2;
$super-light-gray: #f3f7fd;
$highlight: #008AFF;
$gray: #c0bebe;
.navbar-custom {
    // background-color: black;

}
.nav-link {
    &.active {
        color: $highlight !important;
    }
}
// Import partials from `sass_dir` (defaults to `_sass`)
@import 
    "layout",
    "profile",
    "publication";